html {
    box-sizing: border-box;
    color: inherit;
    background-color: var(--green);
}

ul {
    list-style: none;
    padding-left: 0px;
}

:root {
    --green: #eef5dc;
    --blue: #063477;
    --colorerror: #063477;
    --fontserif: Solitas, Cambria, Georgia, serif;
    --fontenphatic: Archia, Helvetica, Arial, sans-serif;
}

.body {
    height: 100vh;
}

.crossword {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 40px auto;
}

.cell {
    border: 1px solid var(--blue);
    background-color: #ffffff;
}

.cell-black {
    background-color: var(--blue);
}

.word-number {
    text-align: right;
    font-size: 20px;
    vertical-align: top;
    position: fixed;
    z-index: 1;
    color: var(--blue);
    font-family: var(--fontenphatic);
}

.letter {
    height: 80px;
    width: 80px;
    border: none;

    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: var(--blue);
    font-family: Archia, Helvetica, Arial, sans-serif;
}

.btn-group {
    margin: 40px auto;
    display: flex;
    justify-content: space-evenly;
}

:invalid {
    /*By default, --colorerror is blue. Changes to red when the user clicks "show errors" button */
    color: var(--colorerror);
}

.clues {
    margin: 60px 50px;
    align-content: center;
    color: var(--blue);
    font-family: var(--fontenphatic);
}

.clue {
    font-family: var(--fontserif);
}
