:root {
    --green: #eef5dc;
    --blue: #063477;
    --white: #ffffff;
    --highlighter: #c3effc;
    --colorerror: #063477;
    --fontserif: Solitas, Cambria, Georgia, serif;
    --fontsans: Archia, Helvetica, Arial, sans-serif;
}

html {
    box-sizing: border-box;
    background-color: var(--green);
    color: var(--blue);
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

.wrapper {
    margin: 0 25px;
}

.header {
    padding: 25px;
}

.title {
    font-family: var(--fontserif);
    font-size: 40px;
}

.text {
    font-family: var(--fontsans);
}

.main {
    display: flex;
    flex-direction: column;
}

.table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 10px auto 0px;
}

.cell {
    padding: 0;
    border: 1px solid var(--blue);
    background-color: var(--white);
}

.cell-black {
    background-color: var(--blue);
}

.word-number {
    text-align: right;
    padding-left: 4px;
    font-size: 20px;
    vertical-align: top;
    position: fixed;
    z-index: 1;
    color: var(--blue);
    font-family: var(--fontsans);
}

.letter {
    height: 25px;
    width: 25px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: var(--blue);
    font-family: Archia, Helvetica, Arial, sans-serif;
}

.btn-group {
    margin: 40px auto;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    background-color: var(--white);
    color: var(--blue);
    font-family: var(--fontsans);
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 0px var(--blue);
    padding: 8px;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: translate(2px, 2px);
}

:invalid {
    /*By default, --colorerror is blue. Changes to red when the user clicks "show errors" button */
    color: var(--colorerror);
}

.clues {
    margin: 60px 50px;
    align-content: center;
    color: var(--blue);
    font-family: var(--fontsans);
}

.clue {
    font-family: var(--fontserif);
}

.highlight {
    background-color: var(--highlighter);
}

mark {
    background-color: var(--highlighter);
}

@media all and (min-width: 768px) {
    .wrapper {
        margin: 0 88px;
    }
    .header {
        padding: 25px 50px;
    }
    .letter {
        height: 38px;
        width: 38px;
        font-size: 35px;
    }
    .clues {
        padding: 10px 50px;
    }
}
@media all and (min-width: 1280px) {
    .body {
        margin: 0 auto;
        width: 80%;
    }
    .header {
        padding: 25px 0px 50px 80px;
    }
    .main {
        display: flex;
        flex-direction: row;
    }
    .form {
        width: 80%;
    }
    .clues {
        width: 20%;
        order: -1;
    }
    .letter {
        height: 48px;
        width: 48px;
        font-size: 40px;
    }
}
