* {
    box-sizing: border-box;
}

:root {
    --green: #eef5dc;
    --blue: #063477;
    --colorerror: #063477;
}

html {
    background-color: var(--green);
}

.crossword {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 40px auto;
}

.cell {
    border: 1px solid var(--blue);
    background-color: #ffffff;
}

.cell-black {
    background-color: var(--blue);
}

.word-number {
    text-align: right;
    font-size: 20px;
    vertical-align: top;
    position: fixed;
    z-index: 1;
    color: var(--blue);
    font-family: Archia, Helvetica, Arial, sans-serif;
}

.letter {
    height: 80px;
    width: 80px;
    border: none;

    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: var(--blue);
    font-family: Archia, Helvetica, Arial, sans-serif;
}

.btn-group {
    margin: 80px auto;
    display: flex;
    justify-content: space-evenly;
}

/*By default, --colorerror is blue. Changes to red when the user clicks "show errors" button */

:invalid {
    color: var(--colorerror);
}
